<img src="assets/StreamFinder-LogoCropped.png" id="logo">
<!-- Separate this out into components -->
<mat-card id="search-card">
  <mat-card-header>
    <mat-card-title>Search for a movie or show</mat-card-title>
    <mat-card-subtitle>We'll show you where you can stream it!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field color="accent">
      <mat-label>Search...</mat-label>
      <input matInput (keyup.enter)="search()" placeholder="Type your search here" #searchbar>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
      <button mat-flat-button (click)="clear()">Clear</button>
      <button mat-flat-button [ngStyle]="{backgroundColor: 'white', color: 'black'}" (click)="search()">Search</button>
  </mat-card-actions>
</mat-card>
<section id="results-body">
  <h1 *ngIf="results.length">Results:</h1>
<div *ngIf="!loading" id="results-list">
  <app-search-result [results]="results"></app-search-result>
  <p *ngIf="searched && !results.length && !loading" [ngStyle]="{marginTop:'5rem'}">There are no search results...</p>
  <mat-spinner *ngIf="searched && loading" [ngStyle]="{marginTop:'5rem'}">Loading...</mat-spinner>
  <app-back-to-top></app-back-to-top>
</div>
</section>


