mat-card {
  width: 50%;
  height: fit-content;
  margin: 5rem auto 0;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

mat-form-field{
  width: 75%;
}

button:not(:last-child){
  margin-right: 1rem;
}
