button:not(:last-child){
  margin-right: 1rem;
}

#results-body {
  padding: .5rem;
}

#results-list{
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
  justify-content: space-around;
  align-items: center;
}

#search-card{
  width: 50%;
 }

// app-search-result {
//   width: 25%;
// }