@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: linear-gradient(to bottom left, #585B71 0%, #2C2F4B 100%); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

mat-card {
  @apply h-fit mx-auto border border-white;
}

//currently applying to just the searchbar
mat-card-content form {
  @apply flex justify-center;
}


mat-form-field{
 @apply w-3/4;
}

h1 {
  @apply text-white;
}
mat-spinner {
  @apply mt-20;
}

#logo {
  @apply p-8;
}

.white-btn {
  @apply bg-white text-black;
}