html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: linear-gradient(to bottom left, #585B71 0%, #2C2F4B 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

#logo {
  padding: 2rem;
}

mat-card {
  height: fit-content;
  margin: 0 auto;
  border: 1px solid white;
}

mat-card-content {
  display: flex;
  justify-content: center;
}


mat-form-field{
  width: 75%;
}

h1 {
  color: white;
}
